
[(#REM) Fil d'Ariane ]
<div id="hierarchie"><a href="#URL_SITE_SPIP/"><:accueil_site:></a> &gt; <strong class="on">Traduire Blabla</strong></div>

<div class="cartouche">
	<h1 class='h1'>Formulaires de Traduction de Blabla</h1>
</div>

#FORMULAIRE_TRADUIRE_BLABLA
