<div class="formulaire_spip formulaire_pipot">
<form action="#ENV{action}" method="post"><div>
	#ACTION_FORMULAIRE{#ENV{action}}
	<ul>
		<li class="editer_traduire">
			<label for="traduire">Traduire</label>
			<textarea name='traduire' id='champ_traduire'>#ENV{traduire}</textarea>
		</li>
		[
		<li class="editer_traduction">
			<label for="traduction">Traduction</label>
			<textarea name='traduction' id='champ_traduction'>(#ENV{traduction})</textarea>
		</li>
		]
	</ul>
	<p class="boutons"><input type="submit" class="submit" value="<:pass_ok:>" /></p>
</div></form>
</div>
