<div class="formulaire_spip formulaire_#FORM">

[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]

<form action="#ENV{action}" method="post"><div>
	#ACTION_FORMULAIRE{#ENV{action}}
	<ul>
		[(#SAISIE{textarea,traduire, obligatoire=oui, label=Traduire})]
		
		[(#ENV{traduction}|oui)
			[(#SAISIE{textarea, traduction, label=Traduction})]
		]
	</ul>
	<p class="boutons"><input type="submit" class="submit" value="Traduire" /></p>
</div></form>
</div>
