<div class="formulaire_spip formulaire_#FORM">

[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]

<form action="#ENV{action}" method="post"><div>
	#ACTION_FORMULAIRE{#ENV{action}}
	<ul>
		[(#SET{erreurs,[(#ENV**{erreurs}|table_valeur{traduire})]})]
		<li class="editer_traduire obligatoire[ (#GET{erreurs}|oui)erreur]">
			<label for="traduire">Traduire</label>
			[<span class='erreur_message'>(#GET{erreurs})</span>]
			<textarea name='traduire' id='champ_traduire'>#ENV{traduire}</textarea>
		</li>
		[
		[(#SET{erreurs,[(#ENV**{erreurs}|table_valeur{traduction})]})]
		<li class="editer_traduction[ (#GET{erreurs}|oui)erreur]">
			<label for="traduction">Traduction</label>
			[<span class='erreur_message'>(#GET{erreurs})</span>]
			<textarea name='traduction' id='champ_traduction'>(#ENV{traduction})</textarea>
		</li>
		]
	</ul>
	<p class="boutons"><input type="submit" class="submit" value="Traduire" /></p>
</div></form>
</div>
